body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.upload-container {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.drop-area {
	border: 2px dashed #19c37d;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 480px;
	text-align: center;
    color: black;
}



.drag-over {
    border-color: #333;
}

button {
    margin-top: 10px;
}
