@font-face {
    font-family: abster;
    src: url(../font/abster-webfont.woff) format('woff');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/adg_background.jpg);
    background-size: cover;
    background-position: center;
  }

  .container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: abster;
  }

.container .nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a {
  text-decoration: none;
  color: white;
}

.container .nav ul li a:hover {
  color: rgb(25,195,125);
}

  .container .adg_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    height: 90vh;
    margin-top: 30px;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    display: flex;
  }

  .result_container {
    width: 70%;
    padding: 20px 20px;
    border: 1px solid white;
    margin-left: 20px;
    margin-right: 50px;
  }

  .result_content {
    text-align: left;
    overflow-y: auto;
    max-height: 750px;
    text-align: left;
  }

  .result_item {
    margin-bottom: 20px;
  }

  .comment_container {
    width: 30%;
    padding: 20px 20px;
    border: 1px solid white;
    margin-right: 20px;
  }

  #result_header {
    margin-bottom: 20px;
  }

  #category_title {
    cursor: pointer;
  }

  #category_title:hover {
    color: #19c37d;
  }

.comment_wrap {
  width: 100%;
  display: flex;
  padding: 12px 15px;
  border-top: 2px solid #19c37d;
  border-bottom: 2px solid #19c37d;
  margin-top: 30px;
}

.name_input {
  width: 170px;
  height: 35px;
  margin-right: 20px;
}

.comment_input {
  width: 100%;
  height: 100px;
}

.submitButton {
  background-color: #19c37d;
  color: #f7fff7;
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.comment_title {
  border-bottom: 2px solid #999;
  font-size: 100px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.comment_list>div>div {
  display: inline-block;
  padding: 15px 10px;
  font-size: 1rem;
}

.comment_list>div {
  border-bottom: 1px solid #ddd;
}

  @media screen and (max-width: 768px) {
    .container {
      height: 230vh;
    }

    .container .header {
      width: 80%;
      height: 80px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .container .adg_container {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 500px;
    }

    .result_container {
      width: 100%;
      margin-top: 20px;
      margin-left: 0px;
      margin-bottom: 20px;
    }

    .comment_container {
      width: 100%;
    }

  }