@font-face {
    font-family: abster;
    src: url(../font/abster-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/adg_background.jpg);
    background-size: cover;
    background-position: center;
}

.container .header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a {
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover {
    color: rgb(25,195,125);
}

.container .adg_container {
    position: relative;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 90vh;
    /*margin-top: 8%;*/
    background-color: rgb(31, 31, 31, 0.5);
    /*border-radius: 20px;*/
    display: flex;
    padding-top: 3%;
    padding-bottom: 5%;
}

.result_container {
    width: 80%;
    padding: 20px 20px;
    border: 1px white;
    margin-left: 20px;
    margin-right: 50px;
}

.result_content {
    text-align: left;
    overflow-y: auto;
    max-height: 550px;
    text-align: left;
}

.result_item {
    margin-bottom: 20px;
}

.comment_container {
    width: 30%;
    padding: 20px 20px;
    border: 1px solid white;
    margin-right: 20px;

    /*overflow: auto;*/
}

#category_title {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

#category_title:hover {
    color: #19c37d;
}

.comment_wrap {
    width: 100%;
    /*display: flex;*/
    justify-items: center;
    padding: 12px 15px;
    border-top: 2px solid white;
    /*border-bottom: 2px solid #19c37d;*/
    margin-top: 30px;
}

.name_input {
    width: 68%;
    height: 35px;
    float: left;
    margin-right: 2%;
}

.comment_input {
    width: 100%;
    height: 100px;
    margin-top: 2%;
}

.submitButton {
    background-color: #19c37d;
    color: #f7fff7;
    width: 30%;
    height: 35px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*margin-left: 20px;*/
    /*margin-top: 50px;*/
}

.comment_title {
    border-bottom: 2px solid #999;
    padding: 10px 0;
    margin-bottom: 5px;
}
.comment_list{
    height: 55%;
    overflow-y: auto;
}

.comment_list>div>div {
    display: inline-block;
    padding: 15px 0;
    font-size: 1rem;
}

.comment_list>div {
    border-bottom: 1px solid #ddd;
}
.comment_input_wrap{
    align-items: center;
}

.writer {
    width: 100px;
    text-align: left;
    float: left;
}

.comment {
    max-width: 250px;
    text-align: left;
    overflow: auto;
}

.hidden {
    display: none;
}

.btn_container {
    margin-bottom: 20px;
}

#btn_show {
    background-color: rgb(0,0,0,0);
    color: white;
    /*float: right;*/
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.result_header{
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: 2px white;
}

@media screen and (max-width: 768px) {
    .container {
        height: 230vh;
    }

    .container .header {
        width: 80%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container .adg_container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 500px;
    }

    .result_container {
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .comment_container {
        width: 100%;
    }

}