<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/boardDetail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
<div class="page_container">
    <div class="header">
        <h1><a href="/plattform">ADG</a></h1>
        <div class="nav">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/ADG/board">BOARD</a></li>
            </ul>
        </div>
    </div>
    <div class="board_title">
        <strong>Board</strong>
    </div>
    <div class="board_container">
        <div class="board_wrap">

            <div class="board_view_wrap">
                <div class="board_view">
                    <div class="title">
                    </div>
                    <div class="info">
                        <dl>
                            <dt>No</dt>
                            <dd class="board_num"></dd>
                        </dl>
                        <dl>
                            <dt>Name</dt>
                            <dd class="board_writer"></dd>
                        </dl>
                        <dl>
                            <dt>Date</dt>
                            <dd class="board_date"></dd>
                        </dl>
                    </div>
                    <div class="cont">
                    </div>
                </div>
                <div class="comment_container">
                    <div class="comment_list">
                        <p class="comment_title">Comment</p>
                    </div>
                    <div class="comment_wrap">
                        <input class="name_input" type="text" placeholder="Name" />
                        <textarea class="comment_input" placeholder="Comments here"></textarea>
                        <button class="submitButton" onclick="handleSubmit()">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/boardDetail.js"></script>
</body>

</html>