<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/documnet.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header">
        <h1><a href="/plattform">ADG</a></h1>
        <div class="nav">
            <ul>
                <li><a href="/plattform">HOME</a></li>
                <li><a href="/ADG/document" style="color:red;">ADG</a></li>
                <li><a href="/ADG/board">BOARD</a></li>
            </ul>
        </div>
    </div>
    <div class="board_title">
        <strong>ADG DOCUMENT</strong>
    </div>

    <div class="adg_container">
        <!-- 화면 좌측 부분, 기존 파일선택, 파일업로드, 파일 생성 가능 -->
        <div class="file_container">
            <!-- 자동 문서 생성 결과창 (내용포함) -->
            <div class="dblist_container">
                <h1 id="dblist_header">SAVED FILE LIST</h1>
                <div class="dblist_content">
                </div>
            </div>
            <!-- 파일 업로드 (모달창) -->
            <div class="addfile_container">
                <button id="modalOpenButton" onclick="setModal()">Upload File</button>
                <div id="modalContainer" class="hidden">
                    <div id="modalContent">
                        <div class="drag_file_container_wrap">
                        <div class="drag_file_container">
                            <span class="material-icons-outlined upload_icon"> file_upload </span>
                            <h3 class="dynamic_message"> Drag & drop any file here </h3>
                            <!-- 여기 input 태그에서 파일 입력 받음 -->
                            <label class="label"> or <span class="browse_files"> <input type="file"
                                                                                        onchange="fileChange(event)"
                                                                                        class="default_file_input"/> <span
                                    class="browse_files_text">browse
                                            file</span> <span>from device</span> </span> </label>
                        </div>
                        </div>
                        <span class="cannot_upload_message"> <span class="material-icons-outlined">error</span>
                                Please select a file first <span
                                    class="material-icons-outlined cancel_alert_button">cancel</span> </span>
                        <div class="file_block">
                            <div class="file_info"> <span
                                    class="material-icons-outlined file_icon">description</span> <span
                                    class="file_name"> </span> | <span class="file_size"> </span></div>
                            <span class="material-icons remove_file_icon">delete</span>
                            <div class="progress_bar"></div>
                        </div>
                        <button type="button" class="upload_button"> Upload</button>
                        <button id="modalCloseButton">close</button>
                    </div>
                </div>
            </div>
            <!-- 파일 생성 (모달창) -->
            <div class="generate_container">
                <button id="modalOpenButton2" onclick="setModal2()">Generate</button>
                <div id="modalContainer2" class="hidden">
                    <div id="modalContent2">
                        <div class="filegen_container">
                            <form action="/document/save" method="post" class="generate_container">
                                <div class="list_container">
                                    <label>Select File: </label>
                                    <!-- 서버에 업로드 되어있는 파일 리스트 -->
                                    <select name="documentSourcekey" id="filelist">
                                    </select>
                                </div>
                                <div class="input_container">
                                    <!-- 저장할 파일 이름 -->
                                    <label>File name: </label>
                                    <input name="documentTitle" id="setfilename" type="text" placeholder="Save as "/>
                                    <label for="category">Category: </label>
                                    <!-- 카테고리 입력 -->
                                    <textarea name="documentCategory" id="category" placeholder="Input category                                          Ex) 1. Subject 1
    2. Subject 2"></textarea>
                                </div>
                                <button type="submit" class="generate_button"> Generate</button>
                            </form>
                        </div>
                        <!-- 서버에서는 버튼 form 태그 안으로 -->
                        <button id="modalCloseButton2">close</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- 자동 문서 생성 결과창 (키워드) -->
        <div class="adglist_container">

            <div class="adg_list">
                <div class="top">
                    <div class="num">No</div>
                    <div class="title">Title</div>
                    <div class="writer">Name</div>
                    <div class="date">Date</div>
                </div>
<!--                <div class="adglist_content">-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<script src="/js/document.js"></script>
</body>

</html>