<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/adgresult.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1><a href="home.html">ADG</a></h1>
        </div>
        <div class="adg_container">
            <!-- 자동 문서 생성 결과창 (내용포함) -->
            <div class="result_container">
                <h1 id="result_header">RESULT</h1>
                <div class="result_content"></div>
            </div>
            <!-- 자동 문서 생성 결과창 (키워드) -->
            <div class="keyword_container">
                <h1 id="result_header">KEYWORD</h1>
                <div class="keyword_content"></div>
            </div>
        </div>
    </div>
    <script src="/js/documentDetail.js"></script>
</body>

</html>