<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1><a href="home">ADG</a></h1>
        </div>
        <div class="login_container">
            <h2>USER LOGIN</h2>
            <form id="login-form" action="/login" method="post"onsubmit="login()">
                <input type="text" name="MemberEmail" id="userId" placeholder="Email">
                <input type="password" name="MemberPassword" id ="userPassword" placeholder="Password">
                <input id="login_btn" type="submit" value="Login">

            </form>
                <p id="signup">Not a member? <a href="signup" id="gosignup">Signup now</a></p>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>