<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/plattform.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

</head>

<body>


<div class="jb-box">
    <video muted autoplay loop>
        <source src="/videos/background.mp4" type="video/mp4">
        <strong>Your browser does not support the video tag.</strong>
    </video>
    <div class="header">
        <h1><a href="/plattform">ADG</a></h1>
    </div>
    <div class="jb-text">
        <p>Welcome to</p>
        <p1>AI Document Generator</p1>
        <p class = "info">Upload a file that you want to make a document automatically</p>
    </div>
    <div class="button_container">
        <button type="button" class="navyBtn" onClick="location.href='/ADG/document'"> ADG start</button>
        <button type="button" class="navyBtn" onClick="location.href='/ADG/board'"> Board </button>
    </div>
</div>
<div class="container_1">
    <div class="info">
        <p> 대충 설명 내용 시작</p>
    </div>

</div>
</div>

<!-- <script src="plattform.js"></script> -->
</body>

</html>