<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADG</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
<div class="container">
    <div class="header">
        <h1><a href="/home">ADG</a></h1>
        <div class="nav">
<!--            <ul>-->
<!--                <li><a href="#">ABOUT</a></li>-->
<!--                <li><a href="/ADG/board">BOARD</a></li>-->
<!--            </ul>-->
        </div>
    </div>
    <div class="login_container">
        <h2>Sign up</h2>
        <form id="login-form" action="/signup" method="post">
            <input id="userId" type="text" name="memberEmail" placeholder="Email">
            <input id="userPassword" type="password" name="memberPassword" placeholder="Password">
            <input id="userName" type="text" name="memberName" placeholder="Name">
            <input id="register_btn" type="submit" value="Register" onclick="register()">
        </form>
        <p id="login">Have account? <a href="login" id="gologin">Login now</a></p>
    </div>
</div>
<script src="/js/signup.js"></script>
</body>

</html>

